body{
    font-family: sans-serif;
}

#assignment-instructions{
    color: rgb(66, 66, 199);
    font-family: sans-serif;
}

.second-code-element{
    color: rgb(51, 142, 51);
}
code{
    font-family: monospace,sans-serif;
    color: red;
}

li{
    font-family: inherit;
}

li + li {
    background-color: black;
    color: white;
}