/* .box{
    padding: 10px;
    border: 3px solid red;
    margin: 20px;
} */
/* Its happening margin collapsing */
.box{
    padding: 5px 10px 15px 20px;
    margin: 10px 20px 30px 40px;
    border: 3px solid red;
    height: 300px;
    width: 48%;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
}

html,
body{
    font-family: Lato,'sans-serif';
    height: 100%;
}

/* If you dont set the parent elements of it, will occupy 100% of it parent no the page */
/* #first-box{
     height: 100%; 
    visibility hidden

} */

#first-box{
    display: none;
}

div:last-of-type:hover{
    border-color: green;
}